# Challenge

### Exercise 1

First, lets make a backup. Just in case ...

In [27]:
path_to_chall = '../Data/challenge/'
! ls {path_to_chall}

! mkdir {path_to_chall + 'backup'}
! cp {path_to_chall + '*.* ' + path_to_chall + 'backup/'}

#! ls {path_to_chall + ' > listado.txt'} Para %automatizar nombres

bookings.csv  bookings.csv.bz2	searches.csv  searches.csv.bz2
^C

Lets count without extracting the compressed files ...

In [17]:
! bzcat {path_to_chall + 'searches.csv.bz2 | wc -c -l'}

#! bzcat {path_to_chall + 'searches.csv.bz2 | head -10 > sal.txt'}
#bzcat searches.csv.bz2 | wc -c -l
#bzcat searches.csv.bz2 | head -10

20390198 3696229366

Now, we are ready to extract the files ...

In [18]:
! bzip2 {' -dk ' + path_to_chall + 'bookings.csv.bz2'}
! bzip2 {' -dk ' + path_to_chall + 'searches.csv.bz2'}


#bzip2 -dk bookings.csv.bz2

In [2]:
import pandas as pd

csv = path_to_chall + 'bookings.csv'
df = pd.read_csv(csv, sep='^', error_bad_lines=False, low_memory=false)


#chunksize = 10 ** 6
#for chunk in pd.read_csv(filename, chunksize=chunksize):
#    process(chunk)

/home/vic/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head(3)
#len(df)
#list(df)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1.0,2013.0,3.0,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1.0,2013.0,3.0,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1.0,2013.0,3.0,NULL

In [6]:
len(df)
list(df)

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

## Exercise 2

In [27]:
import pandas as pd
path_to_chall = '../Data/challenge/'
csv = path_to_chall + 'bookings.csv'

chunksize = 500000
for chunk in pd.read_csv(csv, sep='^', chunksize=chunksize):
    df2 = chunk
    break
    
    #df2 = pd.concat(chunk, ignore_index=True)
    #df2 = pd.concat([chunk for chunk in df])

#df2['arr_port'].head(100)

g1 = df2.groupby( [ "arr_port"] ).sum().sort_values('pax', ascending=False).head(10)

#airports_by_city.map(lambda x: len(x)).sort_values(ascending=False).head()
#print (df2[df2['arr_port']]['Origin'].unique())

#airports_by_port = df2.groupby('arr_port')
#airports_by_port.count()

g1

           duration  distance   intl   pax      year  month
arr_port
LHR       317100730   6349596  10397  4679  21724296  30535
MCO        57132384   1283796   1779  3899   9642270  12704
LAX       177261842   5463951   3698  3642  14310417  19524
JFK       267349797   6443223   6175  3490  15884583  22757
CDG       155688473   2385960   7194  3432  15027045  21287
LAS        48103820   1034308   1616  3404   9662400  12497
MIA       113805165   2204162   4084  3207  11941116  15467
SFO       122427834   3484529   2443  3042  11276826  15708
BKK       168586786   2316154   5993  3021  12949629  17268
DXB       114834983   3497985   6474  2833  13122747  17539